{% extends "layouts/base.html" %}

{% block title %}Lab 8 Task 2{% endblock title %}

{% block content %}
<h1>Books with Edition > 3 and Title/Author contains "qu"</h1>

{% if books %}
    <ul>
    {% for book in books %}
        <li>
            ID: {{ book.id }}<br>
            Title: {{ book.title }}<br>
            Author: {{ book.author }}<br>
            Price: {{ book.price }}<br>
            Edition: {{ book.edition }}
        </li>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No books found.</p>
{% endif %}

{% endblock content %}